@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000;
    color: #f6f6f6;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho_nav {
    display: flex;
    gap: 25px;
}

.cabecalho_nav_link {
    font-size: 24px;
    font-family: 'Monstserrast', sans-serif;
    font-weight: 600px;
    color: #f7f7f7;
    text-decoration: none;
    border: 2px solid #22d4fd;
    border-radius: 8px;
}

.cabecalho_nav_link:hover{
    font-size: 28px;
    color: #22d4fd;
    background-color: #001c22;
    transition: 200ms all;
}

.apresentacao {
    margin: 5px auto;
    padding: 3% 15% 0 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
}

.apresentacao_conteudo_titulo {
    padding: 25px;
    font-size: 30px;
    text-align: center;
    font-family: 'Krona One', sans-serif;
}

.apresentacao_conteudo_texto {
    font-size: 24px;
    font-weight: 600px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_conteudo_texto_textos{
    margin: 20px auto;
    
}

.apresentacao_conteudo_texto_subtitulo{
    font-size: 25px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
}

.apresentacao_info{
    font-size: 20px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
}

.Fim_curriculo{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.rodape {
    background-color: rgb(20, 10, 10);
    padding: 28px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}