
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000;
    color: #f6f6f6;
}

.cabecalho {
    display: flex;
    justify-content: center;
    padding: 2% 0 0 0;
}

.cabecalho_nav {
    gap: 60px;
}

.cabecalho_nav_link {
    font-size: 1.5rem;
    font-family: 'Monstserrast', sans-serif;
    font-weight: 600px;
    color: #f7f7f7;
    text-decoration: none;
    border: 2px solid #22d4fd;
    border-radius: 8px;
}

.cabecalho_nav_link:hover{
    font-size: 1.75rem;
    color: #22d4fd;
    background-color: #001c22;
    transition: 200ms all;
}


.apresentacao {
    padding: 3% 15% 0 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 82px;
}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
}

.apresentacao_conteudo_titulo {
    padding: 25px;
    font-size: 30px;
    text-align: center;
    font-family: 'Krona One', sans-serif;
}

.apresentacao_conteudo_texto {
    font-size: 24px;
    font-weight: 600px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_conteudo_texto_textos{
    margin: 20px auto;
    
}

.apresentacao_conteudo_texto_subtitulo{
    font-size: 25px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
}

.apresentacao_info{
    font-size: 20px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
}

.Fim_curriculo{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.rodape {
    background-color: rgb(20, 10, 10);
    padding: 28px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

@media (max-width: 480px){
    .cabecalho{
        padding: 1%;
    }

    .cabecalho_nav{
        justify-content: center;
    }

    .cabecalho_nav_link{
        font-size: 1.4rem;
    }

    .apresentacao{
        flex-direction: column-reverse;
        gap: 20px;
        width: auto;
    }

    .rodape{
        padding: 5px;
    }
}

@media (max-width: 800px){
    .cabecalho{
        padding: 6%;
    }

    .cabecalho_nav{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .apresentacao_conteudo{
        width: auto;
    }

    .apresentacao_imagem{
        width: 100%;
    }

}


@media (max-width: 360px){
    .cabecalho_nav_link{
        font-size: 1.3rem;
    }
}

@media (max-width: 820px){
    .cabecalho{
        padding: 6%;
    }

    .cabecalho_nav{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .apresentacao_conteudo{
        width: auto;
    }

    .apresentacao_imagem{
        width: 100%;
    }  
}